.formInput {
    display: center;
    align-items: center;
    justify-self: center;
}

.header {
    display: contents;
    justify-content: center;
    align-items: center;
}

.header-row {
    width: 100%;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 75px;
    font-family: 'Playfair Display', serif;
    border: 1px solid rgb(167, 109, 109);
}

.title p {
    font-size: 50px;
    font-weight: lighter;
}

.title p::first-letter {
    font-size: 150%;
    font-weight: lighter;
}

.title-2 {
    text-indent: 0.5em;
}

.title-3 {
    text-indent: 1em;
}

.title-4 {
    text-indent: 1.5em;
}

.title-graphics {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55.4vh;
}

.guide {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    /*padding: 0;*/
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    font-family: 'Playfair Display', serif;
    border: 1px solid rgb(167, 109, 109);
}

.guide p {
    font-size: 14px;
}

.guide-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;
    font-size: 25px;
}

.guide-content {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 30vh;
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    border: 1px solid rgb(167, 109, 109);
}









