.formInput {
    display: center;
    align-items: center;
    justify-self: center;
}

.header {
    display: contents;
    justify-content: center;
    align-items: center;
}

.header-row {
    width: 100%;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 75px;
    font-family: 'Playfair Display', serif;
    border-width: 1px;
    border-style: solid;
}

.title p {
    font-size: 50px;
    font-weight: lighter;
}

.title p::first-letter {
    font-size: 150%;
    font-weight: lighter;
}

.title-2 {
    text-indent: 0.5em;
}

.title-3 {
    text-indent: 1em;
}

.title-4 {
    text-indent: 1.5em;
}





