.formInput {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
}

input {
    width: 40%;
    height: 4vh;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-width: 1px;
}

input:active {
    border-width: 1px;
    border-radius: 0px;
}
